body{
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ffffff;  
  margin: 0;
  padding: 0;
  border: 0;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
  margin-right: 960px; /*Set right margin to (LeftColumnWidth + RightColumnWidth)*/
}

#leftcolumn{
float: left;
width: 480px; /*Width of left column in percentage*/
margin-left: -955px; /*Set left margin to -(LeftColumnWidth + RightColumnWidth)*/
background: #C8FC98;
}

#rightcolumn{
float: left;
width: 475px; /*Width of right column in pixels*/
margin-left: -475px; /*Set margin to -(RightColumnWidth)*/
background: #FDE95E;
}

.innertube{
margin: 5px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}


h1 {
  font-weight: bold;
  color: #476821;
  font-size: 20px;
}
h2 {
  font-weight: bold;
  color: ##ab3862;
  font-size: 18px;
} 
h3 {
  font-weight: bold;
  color: #016fde;
  font-size: 16px;
}

.button {
    color: red;
    background-color: #aaa;
    color: #fff;
    width: 200px;
    border: 6px;
}
#fix_img {
    position: fixed;
    top: 30px;
    left: 0px;
    #width: 100%;
    #height: 50px;
    #background-color: green; 
}
#fix_turnier_name {
    position: fixed;
    top: 3px;
    left: 10px;
    font-size:20px;
    font-family:Arial, monospace;
    font-weight:bold;
    font-color:black;    
}
#white_line_top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color:white; 
}
#white_line_buttons {
    position: fixed;
    top: 105px;
    left: 0px;
    width: 100%;
    height: 20px;
    background-color:white; 
}

#fix_buttons {
    z-index:1;
    position: relative;
    position: fixed;
    top: 101px;
    left: 10px; 
}

#greenline {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: green; 
}
#blueline {
    position: fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: blue; 
}

a:link{
  font-family:arial, monospace;
  text-decoration: none;
  color: #3d0e4e;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color:#3d0e4e;
  text-decoration: none
}

.css_button_gr {
    font-size: 14px;
    font-family:Arial;
    font-weight:normal;
    border: 1px solid #74b807;
    padding: 5px 16px;
    text-shadow:1px 1px 0px #98231a;
    -moz-box-shadow:inset 1px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 1px 1px 0px 0px #a4e271;
    box-shadow:inset 1px 1px 0px 0px #a4e271;
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(90deg, #77a809 5%, #89c403 100%);
    background:-moz-linear-gradient(90deg, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(90deg, #77a809 5%, #89c403 100%);
    background:linear-gradient(180deg, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    /*background-color:#77a809;*/
    color:#ffffff;
    display:inline-block;
}
.css_button_gr:hover {
    background:-webkit-linear-gradient(90deg, #89c403 5%, #77a809 100%);
    background:-moz-linear-gradient(90deg, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(90deg, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
    /*background-color:#89c403;*/
}
.css_button_gr:active {
    position:relative;
    top:1px;
}

.button_grey {
  font-size:11px;
  font-family:Arial;
  font-weight:bold;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #dcdcdc;
  padding:3px 18px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
  background:-ms-linear-gradient( top, #ffffff 5%, #f6f6f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #f6f6f6) );
  background-color:#ffffff;
  color:#666666;
  display:inline-block;
  text-shadow:1px 1px 0px #ffffff;
  -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
  -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #ffffff;
}.button_grey:hover {
  background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
  background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
  background-color:#f6f6f6;
}.button_grey:active {
  position:relative;
  top:1px;
}

table.login_table {
  margin-left:100px; 
  font-size:12px;
  color:#333333;
  width:300px;

  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}
table.login_table th {
  font-size:14px;
  font-color: white;
  background-color:#acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align:left;
}
table.login_table tr {
  background-color:#ffffff;}

table.login_table td {
  font-size:12px;
  border-width: 0px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
}


.Table_blue {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.Table_blue table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.Table_blue tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.Table_blue table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.Table_blue table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.Table_blue tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.Table_blue tr:hover td{  
}
.Table_blue tr:nth-child(odd){ background-color:#aad4ff; }
.Table_blue tr:nth-child(even)    { background-color:#ffffff; }
.Table_blue td{
  vertical-align:middle;
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:4px;
  font-size:16px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}
.Table_blue tr:last-child td{
  border-width:0px 1px 0px 0px;
}
.Table_blue tr td:last-child{
  border-width:0px 0px 1px 0px;
}
.Table_blue tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.Table_blue tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
  background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

  background-color:#005fbf;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:16px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.Table_blue tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
  background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);
  background-color:#005fbf;
}
.Table_blue tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.Table_blue tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.Table_klein_blue {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.Table_klein_blue table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}
.Table_klein_blue tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.Table_klein_blue table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.Table_klein_blue table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}
.Table_klein_blue tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.Table_klein_blue tr:hover td{  
}
.Table_klein_blue tr:nth-child(odd){ background-color:#aad4ff; }
.Table_klein_blue tr:nth-child(even)    { background-color:#ffffff; }
.Table_klein_blue td{
  vertical-align:middle;
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:2px;
  font-size:12px;
  font-family:Arial;
  font-weight:normal;
  color:#000000;
}
.Table_klein_blue tr:last-child td{
  border-width:0px 1px 0px 0px;
}
.Table_klein_blue tr td:last-child{
  border-width:0px 0px 1px 0px;
}
.Table_klein_blue tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.Table_klein_blue tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
  background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);

  background-color:#005fbf;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:12px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.Table_klein_blue tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
  background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");  background: -o-linear-gradient(top,#005fbf,003f7f);
  background-color:#005fbf;
}
.Table_klein_blue tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.Table_klein_blue tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.tabel_gr table{
  margin:0px;padding:10px;
}
.tabel_gr tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.tabel_gr table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.tabel_gr table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}
.tabel_gr tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px; 
}
.tabel_gr tr:hover td{
}
.tabel_gr tr:nth-child(odd){ background-color:#E6F7ED; }
.tabel_gr tr:nth-child(even)    { background-color:#FFFFFF; }
.tabel_gr td{
  vertical-align:middle;
  border:1px solid #8DB592;
  border-width:0px 1px 1px 1px;
  text-align:left;
  padding:7px;
  font-size:12px;
  font-family:Arial;
  font-weight:normal;
  color: #000000;
}
.tabel_gr tr:last-child td{
  border-width:0px 1px 1px 1px;
}
.tabel_gr tr td:last-child{
  border-width:0px 1px 1px 1px;
}
.tabel_gr tr:last-child td:last-child{
  border-width:0px 1px 1px 1px;
}
.tabel_gr tr:first-child td{
    background:-o-linear-gradient(bottom, #30B324 5%, #608A5B 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30B324), color-stop(1, #608A5B) );
  background:-moz-linear-gradient( center top, #30B324 5%, #608A5B 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#30B324", endColorstr="#608A5B");  
   background: -o-linear-gradient(top,#30B324,#608A5B);

  background-color:#30B324;
  border:0px solid #8DB592;
  text-align:center;
  border-width:1px 1px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color: #FFFFFF;
}
.tabel_gr tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #30B324 5%, #608A5B 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30B324), color-stop(1, #608A5B) );
  background:-moz-linear-gradient( center top, #30B324 5%, #608A5B 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#30B324", endColorstr="#608A5B");  
   background: -o-linear-gradient(top,#30B324,#608A5B);

  background-color:#30B324;
}
.tabel_gr tr:first-child td:first-child{
  border-width:0px 0px 0px 0px;
}
.tabel_gr tr:first-child td:last-child{
  border-width:1px 1px 1px 1px;
}

