{% extends "turnier/base.html" %}

{% block content %}

<div id='fix_turnier_name'>
   {{turnier_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{turnier_ueberschrift}} 
</div>


<br><br><br>

{#<h2>&nbsp;{{ text }} </h2>#}

    <div class="Table_blue" >
      <table style="width: 100%">
          <tr>
            <td><b>Zeit</b></td>
            <td>Halle</td>
            <td>Jugend</td>
            <td>Bezeichn.</td>
            <td>Spiel</td>
            <td>Heim</td>
            <td>Tore H</td>
            <td>Tore G</td>
            <td>Gast</td>
            <td>Schiedsrichter</td>
          </tr>

          {% for eintrag in spiel_und_farbe %}
     
            {% if eintrag.0.toreH != ' ' or eintrag.0.toreG != ' ' %}
                  <tr>
                    <td style='background-color:{{eintrag.1}};font-weight:bold;width:4%;color:gray;'>{{eintrag.0.zeit|date:"H:i"}}</td>
                    <td style='background-color:{{eintrag.1}};color:gray;width:8%;'>{{eintrag.0.halle}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;color:gray;'>{{eintrag.0.jugend}}</td>
                    <td style='background-color:{{eintrag.1}};width:5%;text-align:center;color:gray;'>{{eintrag.0.spiel_name}}</td>
                    <td style='background-color:{{eintrag.1}};width:8%;text-align:center;color:gray;'>{{eintrag.0.spiel_type}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:right;color:gray;'>{{eintrag.0.heim}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;color:gray;'>{{eintrag.0.toreH}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;color:gray;'>{{eintrag.0.toreG}}</td>
                    <td style='background-color:{{eintrag.1}};color:gray;'>{{eintrag.0.gast}}</td>
                    <td style='background-color:{{eintrag.1}};color:gray;'>{{eintrag.0.schiri}}</td>
                  </tr>
            {% else %}
                  <tr>
                    <td style='background-color:{{eintrag.1}};font-weight:bold;width:4%;'>{{eintrag.0.zeit|date:"H:i"}}</td>
                    <td style='background-color:{{eintrag.1}};width:8%;'>{{eintrag.0.halle}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;'>{{eintrag.0.jugend}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;'>{{eintrag.0.spiel_name}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:8%;'>{{eintrag.0.spiel_type}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:right;'>{{eintrag.0.heim}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;'>{{eintrag.0.toreH}}</td>
                    <td style='background-color:{{eintrag.1}};text-align:center;width:5%;'>{{eintrag.0.toreG}}</td>
                    <td style='background-color:{{eintrag.1}};'>{{eintrag.0.gast}}</td>
                    <td style='background-color:{{eintrag.1}};'>{{eintrag.0.schiri}}</td>
                  </tr>
            {% endif %}
          {% endfor %}
      </table>
    </div>

{% endblock %}

