
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  {# <meta http-equiv="cache-control" content="no-cache"> #}
  <title>Turnier</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'turnier1/styles_lead.css' %}" />
</head>

<body>
<div id="greenline">
  <h1><font color=white>&nbsp;Ergebniseingabe - Gesamtspielplan:&nbsp;&nbsp;{% if turnier_aktiv %} {{ turnier }}{% endif %}</font></h1> 
</div>


<div id="greenline1">
  <a href="/turnier/" class="right">Home</a>
{% if turnier_aktiv %}
      
  &nbsp;<a href="/turnier/eingabe" class="css_button_gr">Aktualisieren</a>&nbsp;
    {% for halle in alle_hallen %}
        <a href="/turnier/eingabe/{{ halle.id }}" class="css_button_gr">{{ halle.hallen_name }}</a>&nbsp;

    {% endfor %}  
</div>

    {% if spielplan %}
        <br><br><br><br>

        <div class="tabel_gr" >
          <table cellspacing="0">
            <tr>
              <td>Zeit</td>
              <td>Halle</td>
              <td>Jugend</td>
              <td>Spiel</td>
              <td>Heim</td>
              <td>Tore H</td>
              <td>Tore G</td>
              <td>Gast</td>
              <td>Schiedsrichter</td>
              <td>Kampfgericht</td>          
            </tr>
            {% for spiel in spielplan %}

              {% if spiel.toreH >= 0 or spiel.toreG >= 0 %}
                  <tr>
                    <td style='width:7%;color:red'>
                          {% if spiel.zeit %} {{ spiel.zeit|date:"H:i" }}{% else %}&nbsp;{% endif %}</td>
                    <td style='width:10%;color:red;'>
                          {% if spiel.halle %} {{ spiel.halle}}{% else %}&nbsp;{% endif %}</td>
                    <td style='text-align:center;width:5%;color:red; '>
                          {% if spiel.jugend %} {{ spiel.jugend}}{% else %}&nbsp;{% endif %}</td>
                    <td style='width:10%;color:red;'>
                          {% if spiel.spiel_name %} {{ spiel.spiel_name}}{% else %}&nbsp;{% endif %}</td>
                    <td style='color:red;text-align:right;'>{% if spiel.heim %} {{ spiel.heim}}{% else %}&nbsp;{% endif %}</td>
                    <td style='text-align:center;color:red;'>{{ spiel.toreH}}</td>
                    <td style='text-align:center;color:red;'>{{ spiel.toreG}}</td>
                    <td style='color:red;'>{% if spiel.gast %} {{ spiel.gast}}{% else %}&nbsp;{% endif %}</td>
                    <td style='color:red;'>{% if spiel.schiri %} {{ spiel.schiri}}{% else %}&nbsp;{% endif %}</td>
                    <td style='color:red;'>{% if spiel.kampfgericht %} {{ spiel.kampfgericht}}{% else %}&nbsp;{% endif %}</td>
                  </tr>
              {% else %}
                  <tr>
                    <td style='width:7%;'>
                          {% if spiel.zeit %} {{ spiel.zeit|date:"H:i" }}{% else %}&nbsp;{% endif %}</td>
                    <td style='width:10%;'>
                          {% if spiel.halle %} {{ spiel.halle}}{% else %}&nbsp;{% endif %}</td>
                    <td style='text-align:center;width:5%; '>
                          {% if spiel.jugend %} {{ spiel.jugend}}{% else %}&nbsp;{% endif %}</td>
                    <td style='width:10%;'>
                          {% if spiel.spiel_name %} {{ spiel.spiel_name}}{% else %}&nbsp;{% endif %}</td>
                    <td style='text-align:right;'>{% if spiel.heim %} {{ spiel.heim}}{% else %}&nbsp;{% endif %}</td>
                    <td style='text-align:center;'>{{ spiel.toreH}}</td>
                    <td style='text-align:center;'>{{ spiel.toreG}}</td>
                    <td>{% if spiel.gast %} {{ spiel.gast}}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if spiel.schiri %} {{ spiel.schiri}}{% else %}&nbsp;{% endif %}</td>
                    <td>{% if spiel.kampfgericht %} {{ spiel.kampfgericht}}{% else %}&nbsp;{% endif %}</td>
                  </tr>
              {% endif %}
            {% endfor %}
            </table>
          </div>
    {% else %}

      <br><br><br><br><h1><font size="3" color=red>&nbsp;Keine Spiele für das Turnier eingetragen!</font></h1>
    {% endif %}

{% else %}
    <br><br><h1><font size="3" color=red>&nbsp;Im Moment ist kein Turnier aktiv!</font></h1>
{% endif %}
</body>