
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <title>Turnier</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'turnier1/styles_lead.css' %}" />   
</head>
<body>

<div id="greenline">
  <h1><font color=white>&nbsp;Turnierverwaltung</font></h1>
</div>

    <br><br><br><br>
    <h2> File:</h2>
    <h2><font color=red>{{ file_name }}</font></h2>
    <h2>ist kein gültiger CSV-File!<h2>
    <br>
     <a href="{% url 'turnier1:turnier_load'%}" class="css_button_gr">Home</a> 

</body>